@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="card shadow-sm border-0">
        <div class="card-body text-center">
            <h2 class="card-title">Bienvenido al Directorio de libros</h2>
            <a class="btn btn-success" asp-area="" asp-controller="Libros" asp-action="Directorio">Directorio</a>
        </div>
    </div>
</div>

