@model Librería.Models.Libros
@{
    ViewData["Title"] = "Agregar";
}
<h2>Agregar un libro</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="NameBook" class="control-label">Título de libro</label>
        <input asp-for="NameBook" class="form-control" />
        <span asp-validation-for="NameBook" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NameAuthor" class="control-label">Nombre del autor</label>
        <input asp-for="NameAuthor" class="form-control" />
        <span asp-validation-for="NameAuthor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="anioPubli">Año de publicación</label>
        <input asp-for="anioPubli" class="form-control" />
        <span asp-validation-for="anioPubli" class="text-danger"></span>
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}
