@model IEnumerable<Librería.Models.Libros>
<h2>Agregar un producto</h2>
<a class="btn btn-success" asp-area="" asp-controller="Libros" asp-action="Create">Agregar Producto</a>
<br />
<h2>Lista de Productos</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model)
        {
            <tr>
                <td>@libro.Id</td>
                <td>@libro.Name</td>
                <td>@libro.Price</td>
            </tr>
        }
    </tbody>
</table>